<%- include("partials/header.ejs") %>

    <div class="container text-center">
        <div class="numbers">
            <div class="row justify-content-md-center row-cols-auto align-items-center">
                <div class="col digit">
                    3
                </div>
                <div class="col digit">
                    6
                </div>
                <div class="col digit">
                    5
                </div>
            </div>
        </div>
        <div class="options dispNone">
            <div class="row row-cols-2 justify-content-md-center row-cols-auto align-items-center">
                <form action="/second" method="post">
                    <input type="text" name="ans" value ="0" id="" hidden>
                    <button type="submit">365</button>
                </form>
                <form action="/second" method="post">
                    <input type="text" name="ans" value ="0" id="" hidden>
                    <button type="submit">368</button>
                </form>
                <form action="/second" method="post">
                    <input type="text" name="ans" value ="0" id="" hidden>
                    <button type="submit">362</button>
                </form>
                <form action="/second" method="post">
                    <input type="text" name="ans" value ="1" id="" hidden>
                    <button type="submit">365</button>
                </form>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>